body {
    margin-top: 100px;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: 550px;
    text-align: center;
    background-image: url(https://www.colourbox.com/preview/4313370-frame-made-of-world-flag-icons-vector-illustration.jpg);
    background-repeat: no-repeat;
    ul {
        list-style-type: none;
        padding: 0;
    }
}